<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>
<div id="page" layout:fragment="content">

    <div class="card mb-3" style="max-width: 800px;" th:each="post, stats  : ${listPosts}">
        <div class="row g-0">
            <div class="col-md-5" style="background-image: url('https://images.moneycontrol.com/static-mcnews/2020/04/stock-in-the-news-770x433.jpg');background-size: cover">
                <!-- <img src="https://images.moneycontrol.com/static-mcnews/2020/04/stock-in-the-news-770x433.jpg" alt="..."> -->
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <a th:href="@{/post/{id}(id=${post.id})}" class="btn btn-danger">
                    <h5 class="card-title" th:text="${post.title}">tt</h5>
                    </a>
                    <p class="card-text" th:text="${post.body}">body</p>
                    <p class="card-text"><small class="text-muted" th:text="'Created: ' + ${#dates.format(post.createDate, 'dd-MMM-yyyy')} + ' by '">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <span class="page-link" >Total Rows: [[${totalItems}]]</span>
            </li>
            <li class="page-item">
                <a class="page-link" th:if="${currentPage > 1}" th:href="@{'/posts/page/' + ${currentPage - 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>
                <span class="page-link" th:unless="${currentPage > 1}">Previous</span>
            </li>
            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                <li class="page-item"><a class="page-link" th:if="${currentPage != i}" th:href="@{'/posts/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a></li>
				<span class="page-link" th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
			</span>

            <li class="page-item">
                <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/posts/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                <span class="page-link" th:unless="${currentPage < totalPages}">Next</span>
            </li>
            <li class="page-item">
                <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/posts/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                <span class="page-link" th:unless="${currentPage < totalPages}">Last</span>
            </li>
        </ul>
    </nav>

</div>
</body>
</html>