<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>
<div id="page" layout:fragment="content">


  <div class="card mb-3">

    <div class="card-body">
      <h5 class="card-title" th:text="${post.title}">Title</h5>
      <span class="badge bg-primary" th:text="'Created: ' + ${#dates.format(post.createDate, 'dd-MMM-yyyy')} + ' by '">Posted on 13 Feb, 2021</span>
      <span class="badge bg-danger"><a th:text="${post.user.username}" th:href="@{'/blog/' + ${post.user.username}}">User</a></span>
      <div class="border-bottom mt-3"></div>
      <img src="https://images.moneycontrol.com/static-mcnews/2020/04/stock-in-the-news-770x433.jpg" class="img-fluid mb-2 mt-2" alt="Responsive image">
      <p class="card-text" th:text="${post.body}" >Body </p>
      <!--Only show these buttons if the user is the owner of post-->
      <div sec:authorize="isAuthenticated()" th:if="${username}">
        <div class="row">
          <a th:href="@{'/editPost/{id}'(id=${post.id})}" class="col-md-2">
            <button type="button" class="btn btn-primary btn-block" th:text="Edit">Edit</button>
          </a>

        </div>
      </div>
      <a href="#" class="btn btn-primary">Share this post</a>
      <a href="#" class="btn btn-primary">Comment on this</a>

      <h2>Comments:</h2>

      <!--Comments-->
      <div class="well" th:each="comment : ${post.comments}">
        <h3 th:text="${comment.body}">Body</h3>
        <div th:text="'Created: ' + ${#dates.format(comment.createDate, 'dd-MMM-yyyy')} + ' by '">
          Created by
        </div>
        <div><a th:text="${comment.user.username}" th:href="@{'/blog/' + ${comment.user.username}}">User</a>
        </div>
      </div>

      <!--Leave a comment button-->
      <!--Only if authenticated-->
      <div sec:authorize="isAuthenticated()">
        <div class="row">
          <a th:href="@{'/commentPost/{id}'(id=${post.id})}" class="col-md-2">
            <button type="button" class="btn btn-primary btn-block" th:text="Comment">Comment</button>
          </a>
        </div>
      </div>

    </div>
  </div>


</div>
</body>
</html>